[Unit]
Description=Applique la configuration depuis le dépôt Git
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ admin_pull_user }}
Environment=PATH=/home/{{ admin_pull_user }}/.local/bin:/usr/local/bin:/usr/bin:/bin
ExecStart={{ admin_ansible_bin }}/ansible-pull \
  --url {{ admin_repo_url }} \
  --checkout {{ admin_repo_branch }} \
  --directory /home/{{ admin_pull_user }}/.ansible-pull \
  --inventory inventory.ini \
  {{ admin_pull_playbook }}
